<div id="footer">
  <div class="container">
    <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    <li><a href="/?lang=zh-CN">简体中文</a></li>
    <li><a href="/?lang=zh-HK">繁體中文</a></li>
    <li><a href="/?lang=en-US">English</a></li>
  </div>
</div>
