<head>
  <meta charset="utf-8">
  <title> {{ .Title }} - {{ .AppName }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ .Keywords }}">
  <meta name="author" content="{{ .Author }}">
  <meta name="robots" content="index,follow">
  <meta name="application-name" content="{{ .AppName }}">
    
  <!-- Site CSS -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://static.bootcss.com/www/assets/css/site.min.css?v3" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/page.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js?v=1a553d7d23"></script>
    <script src="/assets/js/respond.min.js?v=1a553d7d23"></script>
  <![endif]-->
    
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" href="http://static.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
    
</head>