<!DOCTYPE html>
<html>
{{ template "layouts/head" . }}
<body>
{{ template "layouts/header" . }}

<div class="container">
<h2>SignIn</h2>
<form role="form" id="form-signin">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Log In</button>

  <p></p>
  <p>Do not have an account? Then <a href="/user/signup">Register Now</a>!</p>
</form></div> <!-- /container -->

{{ template "layouts/footer" . }}
{{ template "layouts/script" . }}
</body>
</html>


